/* Defaults */
body {
    margin: 0;
    padding: 0;
}
/* Imports */
@font-face {
    font-family: 'Dimitri';
    src: url('../font/dimis.ttf');
}

@font-face {
    font-family: 'Dimitri2';
    src: url('../font/dimitri.ttf');
}

/* Main */
#main {
    text-align: center;
}

/* Header */
h1 {
    font-family: 'Dimitri', sans-serif;
    font-size: 5em;
}

/* Status */

/* Channels */
#channels {
    display: flex;
    justify-content: center;
}

#channels h1 {
    font-size: 3em;
}

.channels {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}

.online {
    background: green;
}

.offline {
    background: red;
}

/* Footer */
#footer {
    font-family: 'Dimitri2', sans-serif;
}