/* Defaults */
body {
    margin: 0;
    padding: 0;
}
/* Imports */
@font-face {
    font-family: 'Dimitri';
    src: url('../font/dimis.ttf');
}

@font-face {
    font-family: 'Dimitri2';
    src: url('../font/dimitri.ttf');
}

/* Main */
#main {
    text-align: center;
}

/* Header */
h1 {
    font-family: 'Dimitri', sans-serif;
    font-size: 5em;
}

/* Status */

/* Channels */
#channels {
    display: flex;
    justify-content: space-around;
}

#channels > * {
    flex: 1;
    max-width: 20%;
    padding: 1em;
    margin: 1em;
}

#channels h1 {
    font-size: 3em;
}

.channels {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

.online {
    background: green;
}

.offline {
    background: red;
}

.hidden {
    display: none;
}

/* Footer */
#footer {
    font-family: 'Dimitri2', sans-serif;
}